@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins";
}

.form {
    width: 70%;
    margin: 0px auto;
}

.btn-primary {
    font-weight: 600;
    font-size: 18px;
    margin: 0px auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    border-radius: 20px;
    box-shadow: 0 3px 0 rgba(71, 71, 99, 0.92)
}